/*slider*/
#slider{background-color:#111; width:100%; margin:0 auto }
.slider_box{width:966px; margin:0 auto;height: 338px;}
.silder_tip{width: 92px;height: 92px;overflow: hidden;position: absolute;top: 0;right: 0;z-index:990; text-indent:-999px;background:url(../img/tip-tt.gif) no-repeat; }
#movie_tip{background-position: -93px 0;}
.silder_con{height:270px;overflow: hidden;position: absolute;}
.silder_panel{width:970px;height:270px;overflow: hidden; position:absolute;background: #111;}
.silder_panel img{width: 690px;height: 270px;display: block;overflow: hidden;}
.silder_intro{width: 210px;height: 270px;line-height: 20px;overflow: hidden;color: #999;padding: 0 40px 0 0;}
.silder_intro h3{padding:10px 0;height:50px;color:#7acf39;line-height: 30px;overflow: hidden;}
.silder_intro h3 strong{font-family: "宋体";font-size: 24px;height:30px;overflow: hidden;font-weight: normal;display: block;}
.silder_intro h3 strong a{ color: #fff; font-weight:bold;}
.silder_intro ul{height: 60px;overflow: hidden;}	
.silder_intro li{height: 20px;overflow: hidden;color:#787878;}
.silder_intro li a{color:#787878; margin:0 6px;}
.silder_intro span{ margin: 0 10px 0 0;}
.silder_intro p{height:72px;overflow: hidden;color:#787878; margin-top:10px; line-height:18px;}
.silder_play{display: block;width:136px;height:30px;overflow: hidden;text-indent: -999px;position: absolute;bottom: 13px;right: 45px;background: url(../img/silder-play.png) 0 -30px no-repeat;}	
.silder_play:hover{ background-position: 0 0;}
.silder_nav{width:966px;height:58px;margin: 0 auto;bottom: 0;position: absolute;overflow: hidden;}
.silder_nav li{float: left;padding:0px;border:1px solid #fff; margin:3px;}
.silder_nav li.current{border:3px solid #7acf39; margin:0 4px;}
.silder_nav li,.silder_nav img{display: block;width:112px;height:48px;overflow: hidden;}
.slider_box a.prev,.slider_box a.next{display: block;width:45px;height:100px;overflow:hidden;text-indent: -999px;position: absolute;cursor: pointer;margin: 85px 0 0 0;background: url(../img/silder_btn.gif) no-repeat;}	
.slider_box a.prev{left:0;background-position: left 0;}
.slider_box a.next{right:0;background-position: right 0;}
.silderBox{height:8px; line-height:8px;}

/*bnr*/
.bnr{  margin-top:-4px; clear:both;}
.hot{ .height:560px; border-bottom:1px dashed #ddd; padding-bottom:22px;}

ul.mv-list li { margin-left:12px}
.solid{ border-bottom:1px solid #ddd; height:12px;}
.mv-box{ width:660px; border-bottom:1px dotted #ddd; padding-bottom:16px;}
.rt-box{ width:280px; margin-left:-1px; padding-left:18px;  border-left:1px  dashed #ddd;}
.rt-box .bt-title{ font-size:12px;  height:14px; padding-right:10px;}



dl.cate{line-height:22px;}
dl.cate dt{ font-weight:bold; font-size:13px; color:#666; padding:6px 0px 0;}
dl.cate dd{ display:inline;}
dl.cate dd a{ color:#555;display:inline-block; _float:left; _display:inline; padding:0px 4px}
dl.cate dd a:hover{ background:#ccc; color:#000; text-decoration:none}
/*最新幻灯片*/
div.slidebox {
	width: 970px;
	height: 346px;
	margin:0 auto;
	position:relative;
}
.slidbar {
	width: 970px;
	float: right;
	margin-left: -5px;
	display: inline;
	position: absolute;
	left: 0px;
	top: 280px;
	height: 37px;
}
.slidbar ul {
	margin-left:-5px;
	height:58px;
}
.slidbar ul li img {
	width: 125px;
	height: 52px;
}
.slde_list {
	
	height: 270px;

	overflow: hidden;
	
}

.slde_list li{ width:970px; float:left;}

.slidbar li.hover {
	display: block;
	width: 125px;
	height: 52px;
	overflow: hidden;
	display: inline;
	filter: alpha(opacity=100);
	-moz-opacity: 1;
	-khtml-opacity: 1;
	opacity: 1;
}
.slidbar li {
	display: block;
	width: 125px;
	height: 52px;
	background: url(images/hli1.gif) no-repeat;
	overflow: hidden;
	cursor: pointer;
	float: left;
	margin-left: 10px;
	margin-bottom: 5px;
	display: inline;
	filter: alpha(opacity=70);
	-moz-opacity: 0.7;
	-khtml-opacity: 0.7;
	opacity: 0.7;
	border: 2px solid #444;
}

/*评分*/
ol.pai-list{}
ol.pai-list li { line-height:30px; .border-bottom:1px dotted #ededed; height:30px;}

ol.pai-list li span{display:block;}
ol.pai-list li span.num{ background:#f1f1f1; color:#999; border-radius:0px; box-shadow: 1px 1px 1px #ddd;  margin:2px; margin-top:8px; margin-right:18px; line-height:12px; font-size:10px;  padding:2px; text-align:center}
ol.pai-list li span.did{ color:#999}
ol.pai-list li a{ color:#333} 
.order-box{ position:relative; background:#FFF; padding-bottom:16px}
.order-box .pai-title{ font-size:14px; color:#444; font-weight:600; position:absolute; top:10px; left:16px}

/*资讯*/
.news-box ul li { width:300px; float:left; display:inline; line-height:32px; border-bottom:1px dashed #ededed; font-family:'宋体'}
.news-box ul li a{ font-size:14px; color:#666}
.news-box ul li  span{ display:block; float:right;}
.news-box ul li span.date{ float:right;}

/*友情链接*/
